<!DOCTYPE html>
<html>

<head>
  <style>
    body, html {
      background-color: #AADAFF;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .container{
      postiton:relative;
    }
    .container img{
      width:100%;
      height:auto;
      z-level:1;
    }
    .container input{
      position: absolute;
      top: 90%;
      left: 4%;
      z-level:2;
    }

  </style>
</head>


<body>

  <div class="container">
    <img class="map" src="static/frontmapF.png">

    <div class = "button1">
      <form method="POST" action="/call">
        <input type="image" src="static/calli2.png"/>
      </form>
    </div>
  </div>














</body>

</html>
